[Unit]
Description=Picar LineFollower Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/Whiteline
ExecStart=/home/pi/Whiteline/scripts/start-picar-lf.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

